body{
  background-color: black;
  color: white;
  text-align: center;
  font-family: futura, helvetica, sans-serif;
}

h1{
  font-size: 3em;
  color: #CC9E50;
}

h2{
  font-size: 2em;
  color: rgb(78, 186, 136);
}

a{
  color: #FFAC7D;
}

p{
  color: rgb(78, 186, 136);
}
