@font-face {
  font-family: moonhouse;
  src: url(../moonhouse.ttf);
}

@font-face {
  font-family: space;
  src: url(../BlackHoleBB.ttf);
}

body{
  background-color: black;
  color: white;
  text-align: center;
  font-family: moonhouse, helvetica, sans-serif;
}

h1{
  font-family: space, Ubuntu, moonhouse;
  font-size: 3em;
  color: grey;
}

h2{
  font-size: 2em;
  color: rgb(78, 186, 136);
}

h3{
  font-size: 2em;
  color: #FFAC7D;
  font-family: Ubuntu, moonhouse, helvetica;
}

h4{
  font-size: 3em;
  color: rgb(78, 186, 136);
  font-family: Ubuntu, moonhouse, helvetica;
}

button{
  width: 35%;
  height: 50px;
  font-size: 2em;
  font-family: Ubuntu, moonhouse, helvetica;
  color: rgb(78, 186, 136);
  background-color: gray;
  border-radius: 30px;
}

a{
  color: #FFAC7D;
}

a:hover{
  color: white;
}

p{
  color: rgb(78, 186, 136);
  font-family: Ubuntu, moonhouse, helvetica;
}
